#wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
grid-template-areas:    
                        "header header"
                        "nestedgrid1 nestedgrid1"
                        "info pepeha"
                        "footer footer"; 
}

#title{
font-size: 18px;
    color: #B7410E;
}

#header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "bdsclogo title title";
    align-items: center;
    font-weight: bold;
}

body {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
}

#bdsclogo{
    grid-area: bdsclogo;
}

a{color:white;
text-decoration: none;}

div{
text-align: center;
}


#nestedgrid1{grid-area:nestedgrid1;
display:grid;
grid-template-areas:"home aboutme gallery hobbies culture";
background-color:rgb(100, 161, 212);
padding:20px;
color:white;
}

#home{grid-area: home;}

#aboutme{grid-area: aboutme;}

#gallery{grid-area: gallery;}

#hobbies{grid-area: hobbies;}

#culture{grid-area: culture;}

#info{grid-area: info;
display: grid;
grid-template-areas: "picofme"
                     "aboutme2";
    }

#picofme {
    grid-area: picofme;
    margin-top: 10px;
}

#pepeha {
    grid-area: pepeha;
}

#pepeha img{ border: 8px solid rgb(86, 177, 200);
    display: inline-block;
       margin-top: 10px;
}

#aboutme2{grid-area: aboutme2;}

    
#footer{grid-area: footer;
background-color:rgb(100, 161, 212);
color:white;
padding:10px;
justify-content: space-around;
}

#footer span {
    margin: 0 10px;
}