#wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    
                            "header header header"
                            "nestedgrid1 nestedgrid1 nestedgrid1"
                            "piano2 favbook games"
                            "abtpiano abtfav abtgames"
                            "footer footer footer"; 
}

#title{
    font-size: 18px;
    color: #B7410E;
}

#header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "bdsclogo title title";
    align-items: center;
    font-weight: bold;
    
}

body {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
}

#bdsclogo{
    grid-area: bdsclogo;
}

a{
    color:white;
    text-decoration: none;
}

div{
    text-align: center;
}

#header{
    grid-area: header;
    font-weight: bold;
}

#nestedgrid1{
    grid-area:nestedgrid1;
    display:grid;
    grid-template-areas: 300px 1fr;
    grid-template-areas:"home aboutme gallery hobbies culture";
    background-color:rgb(100, 161, 212);
    padding:20px;
    color:white;
}

#home{grid-area: home;}

#aboutme{grid-area: aboutme;}

#gallery{grid-area: gallery;}

#hobbies{grid-area: hobbies;}

#culture{grid-area: culture;}

#piano2{
    grid-area: piano2;
    padding:20px;
}

#abtpiano{grid-area:abtpiano;}

#favbook{
    grid-area:favbook;
    padding:20px;
}

#abtfav{grid-area: abtfav;}

#games{
    grid-area: games;
    padding:20px;
}

#abtgames{grid-area: abtgames;}



    
#footer{
    grid-area: footer;
    background-color:rgb(100, 161, 212);
    color:white;
    padding:10px;
    justify-content: space-around;
}

#footer span {
    margin: 0 10px;
}