    #wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "nestedgrid1 nestedgrid1 nestedgrid1"
                         "quotebg quotebg quotebg"
                         "footer footer footer"; 
         text-align:center;

    }

    #title{
    font-size: 18px;
    color: #B7410E;
    }

    #header{grid-area: header;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "bdsclogo title title";
        align-items: center;
        font-weight: bold;
    }

    body {
        background-color: #F5F5DC;
        margin: 0;
        padding: 0;
    }

    #bdsclogo{
        grid-area: bdsclogo;
    }

    div{
        text-align: center;
    }

    a{color:white;
    text-decoration: none;}

    #nestedgrid1{grid-area:nestedgrid1;
    display:grid;
    grid-template-areas:"home aboutme gallery hobbies culture";
    background-color:rgb(100, 161, 212);
    padding:20px;
    color:white;
    }

    #home{grid-area: home;}

    #aboutme{grid-area: aboutme;}

    #gallery{grid-area: gallery;}

    #hobbies{grid-area: hobbies;}

    #culture{grid-area: culture;}

    #centred {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFEBA9;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    }

    #quotebg{
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 2px;
    position: relative;
    text-align: center;
    color: white;
    }

    #footer{grid-area: footer;
    background-color:rgb(100, 161, 212);
    color:white;
    padding:10px;
    justify-content: space-around;
    padding:0;
    margin:0;
    }

    #footer span {
        margin: 0 10px;
    }